.shop{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.cats-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 30px;
}
.cart-container{
    background-color: #dfe6e9;
}

.shuffle-btn{
padding: 10px 50px;
font-size: 16px;
margin-top: 20px;
outline: none;
border-radius: 8px;
border: none;
background-color: #3fb83f85;
margin-left: 30px;
cursor: pointer;
}
.shuffle-btn:hover{
    background-color: #498faa;
    color: #fff;
}






/* meadia query for mobile devices  */

@media screen and (max-width:576px) {
    .shop{
        grid-template-columns: 1fr;
    }
    .cats-container{
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
    }
}